{{#if hasBlock}}
  {{yield stars (action "setRating")}}
{{else}}
  {{#each stars as |star i|}}
    <a href="#"
       {{action "setRating" star.rating on="click"}}
       {{action (mut hoveredIndex) i on="mouseEnter"}}
       {{action (mut hoveredIndex) null on="mouseLeave"}}
       class="star-rating {{star.class}}">
    </a>
  {{/each}}
{{/if}}
