{{#if hasBlock}}
  {{yield stars (action "setRating")}}
{{else}}
  {{#each stars as |star|}}
    <span
      class="rating-star {{if star.full fullClassNames emptyClassNames}}"
      role="button"
      onclick={{action "setRating" star.rating}}
      data-test={{concat "star-rating-" star.rating}}
    >
    </span>
  {{/each}}
{{/if}}
