{{#if hasBlock}}
  {{yield stars (action "setRating")}}
{{else}}
  {{#each stars as |star|}}
    <button
      class="rating-star {{if star.full fullClassNames emptyClassNames}}"
      role="button"
      data-test={{concat "star-rating-" star.rating}}
      {{action "setRating" star.rating}}
    >
    </button>
  {{/each}}
{{/if}}
